[Unit]
Description=Simple X hotkey daemon

[Service]
Environment=SXHKD_SHELL=/bin/sh
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/sxhkd
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=2

[Install]
WantedBy=default.target

