[Unit]
Description=Simple X hotkey daemon
Documentation=man:sxhkd(1)
PartOf=graphical-session.target

[Service]
Environment=SXHKD_SHELL=/bin/sh
ExecStart=/usr/bin/sxhkd
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target

