[Unit]
Description=Simple X hotkey daemon
Documentation=man:sxhkd(1)
PartOf=default.target

[Service]
Environment=SXHKD_SHELL=/bin/sh
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/sxhkd
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always

[Install]
WantedBy=default.target

