[Desktop Entry]
Type=Application
Name=xrandr-auto.sh
Comment=
Exec=sh -c "sleep 2; xrandr-auto.sh --autostart"
StartupNotify=false
Terminal=false
Hidden=false

